<!-- Check if the user is logged in before displaying the Events page -->
<body>
<h1 *ngIf="!isLoggedIn">Please log in to view the events.</h1>
<button *ngIf="!isLoggedIn" mat-flat-button color="primary" (click)="redirectToLogin()">Go to Login</button>

<div *ngIf="isLoggedIn">
    <p>Events</p>
    <table class="table table-striped"> 
      <thead>
        <tr>
          <th>EventID</th>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{event.eventId}}</td>
          <td>{{event.name}}</td>
          <td>{{event.date}}</td>
        </tr>
      </tbody>
    </table>
   

  </div>

</body>
  
  <!-- Display a message prompting the user to log in if they are not logged in
  <ng-template #loginMessage>
    <p>Please log in to view the Events. isLoggedIn: {{ isLoggedIn }}</p>
  </ng-template> -->
  